@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

body {
  font-family: 'Open Sans Condensed', sans-serif;
  background: linear-gradient(135deg, white, teal);
  font-weight: 900;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: black;
}

button {
  background-color: #90ee90;
  border-radius: 8px;
  box-shadow: 5px 5px 10px grey;
  padding: 10px;
}

table {
  border-collapse: collapse;
  text-align: left;
}

th {
  border-bottom: 2px solid black;
  padding: 10px;
}

td {
  border-bottom: 1px solid black;
  padding: 10px;
}

input {
    padding: 8px 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #f8f8f8;
}
