include header.pug

html
div(class = "homeCont")
  title HomePage
  body
    h1 My HomePage
    a(href = "/new") Inserisci nuovo prodotto
    br
    a(href = "/all") Visualizza tutti i prodotti presenti 
    br
    a(href = "/find") Cerca prodotti
    br
    a(href = "/delete") Elimina un prodotto